## Q1. How do you comment code in Python? What are the different types of comments?

### Python Comments

 Comments can be used to explain Python code.

Comments can be used to make the code more readable.

Comments can be used to prevent execution when testing code.

### There are three types of comments in Python :
1. Single-line comment
2. Multi-line comment
3. docstring comment

### Creating a Comment

### Single-line comments 
Comments starts with a hash symbol (#) and  when the code is being executed, the Python interpreter will ignore the comment and run the print() function.

In [4]:
# This is a comment
print("Hello world")

Hello world

### Multiline Comments
Python does not really have a syntax for multiline comments.

To add a multiline comment you could insert a # for each line:

##### Example

In [6]:
#This is a comment
#written in
#more than just one line
print("Hello, World!")

Hello, World!

Or, not quite as intended, you can use a multiline string.

Since Python will ignore string literals that are not assigned to a variable, you can add a multiline string (triple quotes) in your code, and place your comment inside it

##### Example

In [7]:
"""
This is a comment
written in
more than just one line
"""
print("Hello, World!")

Hello, World!

As long as the string is not assigned to a variable, Python will read the code, but then ignore it, and you have made a multiline comment.

## Q2. What are variables in Python? How do you declare and assign values to variables?

### Python Variables

Python Variable is containers that store values. Python is not “statically typed”. We do not need to declare variables before using them or declare their type.

A variable is created the moment we first assign a value to it. A Python variable is a name given to a memory location. It is the basic unit of storage in a program.

### Rules for Python variables
A Python variable name must start with a letter or the underscore character.

A Python variable name cannot start with a number.

A Python variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ ).

Variable in Python names are case-sensitive (name, Name, and NAME are three different variables).

The reserved words(keywords) in Python cannot be used to name the variable in Python.

#### Example

In [9]:
x = 5
y = "John"
print(x)
print(y)

5
John

In [10]:
x = 4       # x is of type int
x = "Sally" # x is now of type str
print(x)

Sally

In [17]:
a = 4
A = "Sally"
#A will not overwrite a

In [18]:
a

4

In [19]:
A

'Sally'

### Variables Assignment in Python
Here, we have assigned a number, a floating point number, and a string to a variable such as age, salary, and name.

In [20]:

# An integer assignment
age = 45
 
# A floating point
salary = 1456.8
 
# A string
name = "John"
 
print(age)
print(salary)
print(name)

45
1456.8
John

## Q3. How do you convert one data type to another in Python?

### Type Conversion in Python
 
The process of converting the value of one data type into another type is called Type Conversion.
Python has two types of type conversion.

Implicit Type Conversion

Explicit Type Conversion

### Implicit Type Conversion
 
Python automatically converts one data type into another data type. This process doesn't need any user involvement.

#### Examaple

In [1]:
num_int = 123   
num_flo = 1.23  
num_new = num_int + num_flo  
print('type of num_int is : ', type(num_int))  
print('type of num_flo is : ', type(num_flo))  
print('value of num_new is : ', num_new)  
print('type of num_new is : ', type(num_new))

type of num_int is :  <class 'int'>
type of num_flo is :  <class 'float'>
value of num_new is :  124.23
type of num_new is :  <class 'float'>

### Explicit Type Conversion
 
Python defines type conversion functions like int(), float(), str() to directly convert one data type into another. This type of conversion is also called typecasting because the user casts (change) the data type of the objects.

##### int(a, base)
 
This function converts any data type into integer. ‘Base’ specifies the base in which a string is converted if the data type is string. By default, ‘Base’ is set to 10.

In [7]:
s = "10010"    
# string converting to int base 2   
c = int(s,2)   
print('string converted to int base 2 : ', c)  
# string converting to int base 10   
c = int(s)   
print('string converted to int base 10: ', c)

string converted to int base 2 :  18
string converted to int base 10:  10010

#### float()
 
This function is used to convert any data type to a floating point number.

In [12]:
s = "10010"    
    # string converting to float   
c = float(s)   
print('string converted to float: ', c)

string converted to float:  10010.0

#### tuple()
 
This function is used to convert a data type into a tuple.

In [13]:
s = 'python'    
c = tuple(s)  
print("string converted into tuple:  ", c)

string converted into tuple:   ('p', 'y', 't', 'h', 'o', 'n')

#### set()
 
This function returns the type after converting into set.

In [15]:
s = 'python programmers'    
c = set(s)   
print("string converted into set:  ", c)

string converted into set:   {'g', 't', 'o', 's', 'y', ' ', 'm', 'p', 'h', 'a', 'e', 'n', 'r'}

#### list()
 
This function is used to convert any data type into a list type.

In [16]:
s = 'python'    
c = list(s)   
print("string converted into list:  ", c)

string converted into list:   ['p', 'y', 't', 'h', 'o', 'n']

#### dict()
 
This function is used to convert a tuple of order (key, value) into a dictionary

In [19]:
tup = (('a', 1), ('f', 2), ('g', 3))  
c = dict(tup)   
print("tuple converted into dictionary:  ", c)

tuple converted into dictionary:   {'a': 1, 'f': 2, 'g': 3}

#### str()
 
This function is used to convert a value (integer or float) into a string.

In [20]:
f = 10.0  
s = str(f)   
print("float value converted into string:  ", s)

float value converted into string:   10.0

### Q4. How do you write and execute a Python script from the command line?

First of all, I set up python in my destop system, I used editor Notepad++ to write python script.
I typed "Hello shahrukh, how are you".

Then save the file on my desktop with the name shahrukh.py or anything you like. I gave the .py extension only.

I opened command prompt then I typed cd desktop and press enter key
then I typed python shahrukh.py and press enter key.
my python code successfully run.

### Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

In [1]:
my_list = [1,2,3,4,5,]

In [4]:
my_list[1:3]

[2, 3]

### Q6. What is a complex number in mathematics, and how is it represented in Python?

A complex number is a number that can be written in the form of (a+b j) where a and b are real numbers. Here j is an imaginary number and is defined to be the square root of -1. Complex numbers occur in pairs and are mostly used in calculations involving square roots of negative numbers.

In [15]:
z = complex(5, 7)
print("Output:", z)

Output: (5+7j)

In [16]:
z = complex(3)
print("Output:", z)

Output: (3+0j)

In [17]:
z = complex()
print("Output:", z)

Output: 0j

In [18]:
z = complex('1+1j')
print("Output:", z)

Output: (1+1j)

In [19]:
z = complex(1, -4)
print("Output:", z)

Output: (1-4j)

###### You can also use built-in functions to access the general information. Let’s see an example:

In [24]:
z  = 3 + 4j

print("Real part:", z.real)

print("Imaginary part:", z.imag)

print("Conjugate value:", z.conjugate())

Real part: 3.0
Imaginary part: 4.0
Conjugate value: (3-4j)

### Q7. What is the correct way to declare a variable named age and assign the value 25 to it?

In [11]:
name = "Shahrukh"

age = "25"
print(f'{name} is {age} years old')

Shahrukh is 25 years old

In [12]:
name = "Shahrukh"

age = "25"
print(name +' is '+ age +' year old')

Shahrukh is 25 year old

In [13]:
name = "Shahrukh"

age = "25"
print("name = Shahrukh, age = 25")

name = Shahrukh, age = 25

### Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable belong to?

In [16]:
name = "Pen" 

price = 9.99

print(f'{name} is {price} rupees')

Pen is 9.99 rupees

In [22]:
print(type(name))
print(type(price))

<class 'str'>
<class 'float'>

### Q9. Create a variable named name and assign your full name to it as a string. How would you print thevalue of this variable?

In [2]:
name = "mohd shahrukh"
print(name)

mohd shahrukh

### Q10. Given the string "Hello, World!", extract the substring "World".

In [3]:
s = "Hello, World!" 
s[7:12]

'World'

### Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are currently a student or not.

In [9]:
is_student = "shahrukh"

if is_student == "shahrukh":
    
    print("shahrukh is a student")
else:
    print("shahrukh is not a student")

shahrukh is a student

In [10]:
is_student = "salman"

if is_student == "shahrukh":
    
    print("shahrukh is a student")
else:
    print("shahrukh is not a student")

shahrukh is not a student

In [11]:
is_student = "other"

if is_student == "shahrukh":
    
    print("shahrukh is a student")
    
elif is_student == "salman":
    
    print("salman is a student")
else:
    print("I don't know")

I don't know